html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-control, .form-select{
  background: #292735 !important;
  color: white !important;
}
textarea{
  height: auto !important;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body, main {
    color: white;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292735;
}

/* Handle */
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background: #8e57f7;
}

/*Button*/
.btn-outline-success{
  border: 2px solid #00bb8c !important;
  color:#00bb8c !important;
  padding: 5px 12px 8px 12px !important;
}
.btn-outline-main{
  border: 2px solid #8e57f7 !important;
  color:#8e57f7 !important;
  padding: 5px 12px 8px 12px !important;
}
.btn-outline-more{
  border: 2px solid #808080 !important;
  color:#808080 !important;
  padding: 3px 8px 4px 8px !important;
}
.btn-link{
  text-decoration: none !important;
  padding:0 !important;
  color:#808080 !important;
  font-style: italic;
}

.btn-outline-success:hover{
  background: #00bb8c !important;
  color:white !important;
  border: 2px solid transparent !important;
}
.btn-outline-main:hover, .btn-outline-more:hover{
  background: #8e57f7 !important;
  color:white !important;
  border: 2px solid transparent !important;
}
.btn-add-item{
  background: #00bb8c !important;
  width: 50px;
  height: 50px;
  border-radius: 100% !important;
  position: absolute;
  color: white !important;
  right: -25px;
  transition: 0.4s !important;
}
.btn-add-item:hover, .btn-remove-item:hover{
  transform: rotate(360deg);
}
.btn-remove-item{
  background: #FF5691 !important;
  width: 50px;
  height: 50px;
  border-radius: 100% !important;
  position: absolute;
  color: white !important;
  right: -25px;
  transition: 0.4s !important;
}

/*Modal*/
.btn-close-modal{
  background: #FF5691 !important;
  position: absolute;
  color: white !important;
  right: -25px;
  top:10px;
  transition: 0.4s !important;
}
.modal-body{
  padding-right: 30px !important;
}
.modal-content{
  background: #191A1B !important;
  border: none;
  position: relative;
}